@import "tailwindcss";

/* App reset */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Dark premium scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.4); /* slate-400 */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(148, 163, 184, 0.7);
}
